{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <form action="/login/" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <div style="margin: 10px 0;">
                <button type="submit">Login</button>
                <p>I will create register.<a href="/register">Register</a></p>

            </div>
        </form>
    {% else %}
        <p><a href="/logout">Logout</a> or <a href="/">Home</a></p>
    {% endif %}
{% endblock %}