{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <form action="/login/" method="POST">{% csrf_token %}
            {% if error %}
                <p style="color: red">Warning: {{ error }}</p>
            {% endif %}
            <div style="margin: 10px 0;">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div style="margin: 10px 0;">
                <button type="submit">Login</button>
            </div>
        </form>
    {% else %}
        <p><a href="/logout">Logout</a> or <a href="/">Home</a></p>
    {% endif %}
{% endblock %}