{% extends 'base.html' %}
{% block title %}
    Database
{% endblock %}

{% block search %}
    Search Article
    <form action="/article/" method="get">
        <label>
            <input type="text" name="q">
        </label>
        <button type="submit">Search</button>
    </form>
{% endblock %}
{% block content %}
    <div style="margin: 10px 0;">

        <a href="/article/create/">
            <button>Add</button>
        </a>
    </div>
    {% for object in objects %}
        <li><a href="article/{{ object.id }}/">{{ object.title }} - (id: {{ object.id }}){{ object.content }}</a></li>
    {% endfor %}

    <ul>
        {% for item in my_list %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
